# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
env/
venv/
ENV/
.venv/

# Django
*.log
staticfiles/
media/
db.sqlite3

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Environment variables
.env
